body{
    background-color: rgb(0, 221, 136);
    
}

h1 {
    font-size: 50px;
    color:rgb(255, 179, 39);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 5px bisque;
}

h3{
    text-align: center;
    margin-top: -10px;
    text-shadow: 2px 2px 5px white;
}

p{
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    text-align: left;
    text-shadow: 2px 2px 5px bisque;
    margin-top: 3px;
    
}

li{
    display: inline;
}

li a {  
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
    transition: 0.75s;
  }

ul a:hover {
    background-color: #ffffff00;
    color: rgb(255, 25, 113);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    text-align: center;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
    
}

form{
    height: 520px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 0, 0, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}


form h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-align:left;
    font-weight: 100;
    font-size: 30px;
    text-shadow: 2px 2px 5px white;
}



.zoom {
    padding: 10px;
    transition: transform .2s;
    width:1px;
    height: 1px;
}
  
.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.bordes-transparentes{
    text-align:left; 	
    background:#ffffff4f;
    border: 3px solid rgba(0, 109, 73, 0.5);
    padding: 5px 10px 0 10px;
    border-radius: 1px;    
    left:10%;
    width:170px;
    box-shadow: 0px 0px 10px black;
}





